*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* outline: 1px solid red; */
}


:root{
    --bg-color: white ; 
    --text-color: black ; 
    --font-family: "Inter", "Montserrat";
    --secondary-color: #EDFEF6 ; 
    --terciary-color:#057858;
    --footer-color: #202938;
    --btn-color: #F3F4F6 ; 
    --btn-colorOK: #0CB981;
    --btn-color-don: #DB2728 ;

}

body{
    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: var(--font-family);
    width: 100%;
    display: flex;
}
header{
    max-height: 60px;
    background-color: var(--terciary-color);
    color: white; 
}
nav{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 700px;
    color: white;
}
.logo{
    display: inline;
    height: 60px;
    width: 263px;
    gap: 5px;
    align-items: center;
    padding-top: 10px;

}
.home_logo{
    display: inline;
    font-size: 22px;
    font-weight: bold;
    max-width: 211px;
}
.menu{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 16px;

}
.menu a, .menu_footer a, .logo a{
    color: white; 
    text-decoration: none;
}
ul{
    list-style: none;
    display: inline-flex;
    gap: 40px;
    align-items: center;
}
.btn_nav{
    background-color: var(--btn-color-don);
    color: white;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    width: 163px;
    height: 42px;
    font-size: 16px;
    text-align: center;
}
.icon_heart{
    width: 20px;
    height: 17px;
    
}
.hero{
    height: 584px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(Assets/image\ huatpage.png);
   object-fit: cover;
    position: relative;
    margin-bottom: 20px;
    
}
.texte_Accueil{
    position: absolute;
    text-align: center;
    justify-content: center;
    height: 168px;
    width: 902px;
    top: 40%;
    left: 20%;

}
h1{
    font-size: 8.3vh;
    color: white;
    font-weight: bold;

}
p, li{
    font-size: 2.6vh;
    font-weight: 400;
}
.intro{
    font-size: 26px;
    color: white;
    font-weight: 400;
}

.donations{
    display: flex;
    height: 610px;
    align-items: center;
}

h2{
    font-size: 28px;
    text-align: center;
}

.container_dons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    max-height: 392px;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;

}

.description_dons{
    width: 284px;
    height: 134px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 20px;

}
.description_dons:hover{
    border: 2px solid var(--btn-colorOK);
    background-color: var(--secondary-color);
}
.valeurDon{
    font-weight: bolder;
    color: black;
    font-size: 30px;
}
.expli_Don{
    color: #67696D;
}
.container_btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.btns_dons{
    height: 44px;
    width: 94px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 10px;
    color: var(--footer-color);
    font-size: 18px;
    text-justify: center;
    font-weight: bold;
    padding: 3px;
    transition-duration: 0.4s;
}

.btns_dons:hover{
    background-color: var(--btn-colorOK);
    color: white;
}
.container_btn_rouge{
    margin-left: 240px;
    display: block;
    align-items: center;
    margin-top: 18px;
}
.btn_don_red{
    background-color: var(--btn-color-don);
    color: white;
    width: 892px;
    height: 55px;
    margin-bottom: 40px;
    align-self: center;
}
.btn_don_red:hover{
    background-color: #9b1a1b;
}
.mission{
    background-color: var(--secondary-color);
    height: 592px;
    width: 100%;
}
.mission_container{
    display: flex;
    align-items: center;

}
.imgcontain{
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    height: 454px;
    background-image: url(Assets/Mission.png);
    border-radius: 10% 0% 0% 10%;
    box-shadow: 5px 5px 5px 5px rgba(157, 153, 153, 0.554);
}
.titreMission{
    text-align: left;

}
.texte_mission{
    margin: 30px 30px 0 0; 
    width: 50%;
    height: 454px;
    background-color: var(--bg-color);
    padding: 20px;
    justify-content: center;
    line-height: 1.5;
    border-radius: 0 10% 10% 0;
    box-shadow: 5px 5px 5px 5px rgba(157, 153, 153, 0.554);

}

.histoire{
    align-items: center;
    padding-top: 30px;
    margin-bottom: 10px;
    height: auto;
}

.grand_img{
    margin-top: 20px;
    width: 1233px;
    height: 553px;
    position: relative;
   background-image: url(Assets/luna.png);
   border-radius: 10px;
   object-fit: cover;
   background-repeat: no-repeat;
   align-self: center;
   margin-left: 60px;

}

.hisLune{
    position:absolute;
    bottom: 12%;
    color: white;
    width: 975px;
    margin-left: 40px;
}
.texte_galerie{
    color: white; 
    font-weight: bolder;
    font-size: 28px;
}
.miniatures{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 22px;
    min-height: 20vh;

}
.div1, .div2, .div3{
    position: relative;
}
.img_div1, .img_div2, .img_div3{
    border-radius: 10px;
}
.prenom_1, .prenom_2, .prenom_3{
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
}
.quizimpact{
    padding-top: 50px;
    background-color: var(--secondary-color);
    max-height: 1224px;
}
.quiz{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.quizquestion{
    font-weight: bold;
    color:var(--text-color);
}
.question{
    flex-direction: row;
    background-color: var(--bg-color);
    border-radius: 10px;
    height: 191px;
    width: 966px;
    color:var(--text-color);
    font-weight: bold; 
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 5px 5px 5px 5px rgba(166, 166, 166, 0.407);
}
.reponse{
    margin: 30px;
    display: flex;
    gap: 33px;
    justify-content: space-between;
    align-items: center;
}

.vrai, .faux{
    background-color:#F3F4F6;
    font-size: 18px;
    color:var(--footer-color); 
    border-radius: 10px;
    width: 434px;
    height: 75px;
    padding: 5px;
    text-align: center;
}
.titreImpact{
    padding: 10px;
    margin-top: 10px;
}
.impact{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}
.items{
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight{
    font-weight: bold;
    font-size: 20px;
}
.temoignages{
    max-height: 684px;
}
.titretemo{
    margin: 40px;
}
.temo_img{
    box-shadow: 0px 0px 5px 0px rgba(157, 153, 153, 0.554); 
    border-radius: 10px 10px 0px 0px;
}
.container_Temo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    color: #67696D;
}
.p_lyon, .p_marseille, .p_paris{
    box-shadow: 0px 5px 0px 0px rgba(157, 153, 153, 0.554); 
    border-radius: 0px 0px 10px 10px;
    align-items: center;

}
.refuge {
    font-weight: bold;
    color: black;
}
.footer{
    height: 175px;
    background-color: var(--footer-color);
    color:var(--text-color);
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.menu_footer{
    list-style-type: none;
    color: white;
}

/*FORMULAIRE STYLE*/

.error{
    color: var(--btn-color-don);
    font-size: 2.6vh;
    font-family: Arial, Helvetica, sans-serif;
}
.form_container{
    margin-left: 30%;


}
.formulaire{
    align-content: center;
    text-justify: center;

}

#inp1, #inp2, #sujets{
    width: 65%;
    min-height: 30px;
    
}
label{
    font-size: 2.6vh;
}
textarea{
    color:#67696D; 
    height: 120px;
    width: 65%; 
    
}
#btnenvoyer{
    background-color: var(--btn-colorOK);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 65%;
    border: none;
    margin-bottom: 50px;
}

/* RESPONSIVE / MEDIA QUERY 
Responsive home */

@media (max-width:450px){
    body{
        display: flex; 
        flex-direction: column;
        width: auto;
    }
    nav{
        flex-direction: column;
        gap: 0;
    }
    .home_logo{
        display:none
    }
    .menu{
        display:flex; 
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-family: 1.9vh;
    }
    .mission_container{
        flex-direction: column;
    }

/* RESPONSIVE FORMULAIRE 
formulaire responsive */

.form_container{
    display: flex;

    justify-content: center;
    flex-direction: column;
}
}